@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%) */

/* : hsl(0, 0%, 20%)
: hsl(0, 0%, 12%)
: hsl(0, 0%, 8%) */

body {
  background-color: hsl(0, 0%, 20%);
}

.container {
  width: 400px;
  background-color: hsl(0, 0%, 8%);
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  font-family: "Inter", sans-serif;
}

img {
  border-radius: 50%;
  width: 8rem;
  transition: 0.3s;
}

img:hover {
  transform: scale(1.3);
  border-radius: 12px;
  cursor: grab;
}

.p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p h3 {
  font-size: 1.7rem;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
  margin-bottom: 15px;
}

.p p {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}

.p p::after {
  content: "";
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  position: absolute;
  background:linear-gradient(to right,hsl(75, 94%, 57%));
  transition:  0.5s ease;
}

.p p:hover::after {
  width: 70%;
}

p {
  color: hsl(0, 0%, 75%);
  margin-bottom: 20px;
}

.but {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.but button {
  width: 80%;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color:  hsl(0, 0%, 24%);
  border-radius: 12px;
  padding: 14px 0;
  border: none;
  cursor: pointer;
  position: relative;
}

.but button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: hsl(0, 0%, 100%);
  transition: 0.3s ease;
}

.but button:hover::after {
  width: 100%;
  color: hsl(0, 0%, 75%);
}




